body {
    background-color: transparent;
}
/* container with image with texts within */
.container {
    position: relative;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}
img {
    width: 100%;
    height: auto;
    opacity: 0.4;
    filter: grayscale(100%);
}
.text-block {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: gray;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* header of second section */
h1 {
    color: turquoise;
    background-color: black;
    text-align: center;
}
/* buttons found at header */
.button {
    background-color: blue;
    border-radius: 8px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
/* about me page */
.About-me {
    background-color: white;
}
.column {
    float: left;
    width: 25%;
    padding: 10%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

#col {
    background-color: grey;
}

.fa-facebook {
    background: #3b5998;
    color: white;

}